@{
    ViewData["Title"] = "Home";
}
<div class="text-center mt-5">
    <h1>Welcome to MyPCShop LK</h1>
    <p>Best place to buy PC accessories online.</p>
    <a class="btn btn-primary" href="/Products/ViewProducts">View Products</a>
</div>
